/*circle.css*/


html {
    font-family: 'Helvetica Neue';
    padding: 20px 40px;
}

h1,h3 {
    margin: 0.3rem 0;
}

input[type=range] {
    width: 250px;
}

.input-wrapper {
    margin: 8px 0;
}

#output {
    margin: 5px 0;
    font-size: 12px;
}

label {
    font-weight: bolder;    
}


canvas {
    padding-left: 1px;
    padding-top: 1px;
    /*border: solid #9FF;
    border-right: 1px;
    border-bottom: 1px;*/
    background-color: #9ff;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;

}

