/* @-webkit-keyframes throbbing{
    from {
        -ms-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -webkit-transform:scale(1,1);
        -o-transform:scale(1,1);
        transform:scale(1,1);
    }

    to {
        -ms-transform:scale(1.5,1.5);
        -moz-transform:scale(1.5,1.5);
        -webkit-transform:scale(1.5,1.5);
        -o-transform:scale(1.5,1.5);
        transform:scale(1.5,1.5);
    }
} */

@keyframes throbbing {
    from {
        /* -ms-transform:scale(1,1);
        -moz-transform:scale(1,1);
        -webkit-transform:scale(1,1);
        -o-transform:scale(1,1); */
        transform:scale(1);
       
    }

    to {
        /* -ms-transform:scale(1.5,1.5);
        -moz-transform:scale(1.5,1.5);
        -webkit-transform:scale(1.5,1.5);
        -o-transform:scale(1.5,1.5); */
        transform:scale(1.5);
        
    }
}

.throbbing {
/* -webkit-animation: throbbing 1s linear infinite;
-moz-animation: throbbing 1s linear infinite alternate;
-ms-animation: throbbing 1s linear infinite alternate;
-o-animation: throbbing 1s linear infinite alternate; */
animation: throbbing 0.5s linear infinite alternate;
transform-origin: center center;
width: 200px;
}